@import '../Theme.styl';

.card {
  width: 200px;
  border: solid 1px t_lightgray;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
}

.cardContent {
  padding: 0.5rem 0.7rem 0.7rem;
  display: flex;
}
