xsmall_breakpoint = 420;
small_breakpoint = 720;
medium_breakpoint = 960;

_bp-fn(minWidth) {
  @media screen and (min-width: unit(minWidth, px)) {
    :local {
      {block};
    }
  }
}

_bp-fn-max(maxWidth) {
  @media screen and (max-width: unit(maxWidth, px)) {
    :local {
      {block};
    }
  }
}

bp-xsmall() {
  +_bp-fn(xsmall_breakpoint) {
    {block};
  }
}

bp-small() {
  +_bp-fn(small_breakpoint) {
    {block};
  }
}

bp-medium() {
  +_bp-fn(medium_breakpoint) {
    {block};
  }
}

bp-xsmall-max() {
  +_bp-fn-max(xsmall_breakpoint) {
    {block};
  }
}

bp-small-max() {
  +_bp-fn-max(small_breakpoint) {
    {block};
  }
}

bp-medium-max() {
  +_bp-fn-max(medium_breakpoint) {
    {block};
  }
}

+bp-xsmall-max() {
  .hideXS {
    display: none !important;
  }
}

+bp-xsmall() {
  .showXS {
    display: none !important;
  }
}

+bp-small-max() {
  .hideSM {
    display: none !important;
  }
}

+bp-small() {
  .showSM {
    display: none !important;
  }
}