@import '../Theme.styl';

.price {
  color: t_primary;
  font-weight: bold;
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
}

.big {
  font-size: 1.6rem;

  .currency {
    font-size: 1rem;
    margin-top: 0.2rem;
  }
}

.currency {
  font-size: 0.8rem;
  margin-right: 0.12rem;
  margin-top: 0.1rem;
}