@import '../ui/Theme.styl';

.img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  display: block;
}

.title {
  margin: 0 1rem;
  color: t_secondary;
}

.subtitle {
  margin: 0 1rem;
  color: t_dark;
}

.intro {
  font-size: 0.8rem;
}

.farmerCard {
  padding: 1rem;
}