@import '../ui/Theme.styl';

.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: t_lightgray;
  padding: 1.5rem 0;

  a {
    display: block;
    color: t_dark;
    font-size: 0.9rem;
    padding: 0.4rem 0;
    text-decoration: none;
  }
}

.title {
  color: darken(t_dark, 10);
}