@import '../ui/Theme.styl';

.menuShadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: t_top-bar-height;
  background-color: white;
  @extend .menuShadow;
  z-index: 1;
}

.active {
  color: t_primary !important;
}

.logo {
  font-size: 1.4rem;
  color: white;
  font-weight: bold;
  color: t_secondary;
  flex: 1;
}

.links {
  height: 100%;
  text-align: center;
  gap: 1.2rem;
  grid-template-columns: repeat(3, auto);

  a {
    color: t_dark;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;

    &:hover {
      @extend .active;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.rightCol {
  align-self: stretch;
  grid-template-areas: 'search icons';
  align-items: center;
  justify-content: end;
  justify-items: center;
  gap: 1rem;
}

+bp-small() {
  .rightCol {
    grid-template-areas: 'search links icons';
  }
}

.iconsCol {
  display: flex;
  align-items: center;
}

.icon {
  width: 28px;
  height: 28px;

  &:not(:first-of-type) {
    margin-left: 0.5rem;
  }
}

.cartIcon {
  path {
    fill: t_lightgray;
  }
}

.personIcon {
  width: 32px;
  height: 32px;

  path {
    fill: t_lightgray;
  }
}

.menuBtn {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 0;

  &:focus {
    outline: none;
  }

  svg {
    width: 30px;
    height: 30px;
  }

  path {
    fill: t_secondary;
  }
}

.sideMenu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  background-color: t_dark;
  transform: translateX(-100%);
  @extend .menuShadow;
  transition: transform 0.2s ease-in-out;

  .links {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, min-content);
    padding: 0 1.5rem;

    a {
      font-size: 1rem;
      color: t_lightgray;
      height: 40px;
    }
  }
}

.sideMenuHeader {
  display: flex;
  height: t_top-bar-height;
  align-items: center;
  justify-content: flex-end;
}

.closeBtn {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  height: t_top-bar-height;
  width: t_top-bar-height;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 30px;
    height: 30px;
  }

  path {
    fill: white;
  }
}

.linksContainer {
  height: 100%;
}

.open {
  transform: translateX(0);
  z-index: 2;
}

.grid {
  grid-template-areas: 'sideMenu logo right';
  grid-template-columns: min-content auto;
  grid-template-rows: 70px;
  align-items: center;
  gap: 1rem;
}

+bp-small() {
  .grid {
    grid-template-areas: 'logo right';
  }
}
