@import '../ui/Theme.styl';

.menuShadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: t_top-bar-height;
  background-color: white;
  @extend .menuShadow;
  z-index: 1;
}

.active {
  color: t_primary !important;
}

.logo {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  padding-right: 1rem;
  color: t_secondary;
  flex: 1;
}

.links {
  display: flex;
  height: 100%;
  margin: 0 1rem;
  text-align: center;

  a {
    padding: 0 0.9rem;
    color: t_dark;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;

    &:hover {
      @extend .active;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.right {
  display: flex;
  align-items: center;
  height: 100%;
}

.icon {
  width: 28px;
  height: 28px;

  &:not(:first-of-type) {
    margin-left: 0.5rem;
  }
}

.cartIcon {
  path {
    fill: t_lightgray;
  }
}

.personIcon {
  width: 32px;
  height: 32px;

  path {
    fill: t_lightgray;
  }
}

.searchIcon {
  path {
    fill: t_primary;
  }
}

.menuBtn {
  margin-right: 1rem;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;

  &:focus {
    outline: none;
  }

  path {
    fill: t_secondary;
  }
}

.sideMenu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  background-color: t_dark;
  transform: translateX(-100%);
  @extend .menuShadow;
  transition: transform 0.2s ease-in-out;

  .links {
    height: auto;
    flex-direction: column;
    margin-top: t_top-bar-height;

    a {
      color: t_lightgray;
      height: 40px;
    }
  }
}

.linksContainer {
  height: 100%;
}

.open {
  transform: translateX(0);
  z-index: 2;
}
