@import '../ui/Theme.styl';

.img {
  width: 220px;
  height: 120px;
  object-fit: cover;
  display: block;
}

.title {
  color: t_secondary;
}

.container {
  padding: 1rem;
  max-width: 220px;
  display: flex;
  align-items: center;
}