@import './ui/Theme.styl';

html {
  font-family: 'Quicksand', sans-serif;
  color: t_dark;
}

* {
  box-sizing: border-box;
}

p {
  margin: 1rem 0;
  line-height: 1.5em;
}

.app {
  display: flex;
  width: 100%;
}