@import './ui/Theme.styl';

html {
  font-family: 'Quicksand', sans-serif;
  color: t_dark;
}

* {
  box-sizing: border-box;
}

p {
  margin: 1rem 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section {
  width: 100%;
  margin-top: t_top-bar-height;
  display: flex;
  justify-content: center;
  flex-direction: column;
}